# ==========================================
# PYTHON GITIGNORE
# ==========================================

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Environment variables
.env

# Python build files
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/